@{
    ViewData["Title"] = "Prva strana testne aplikacije";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Testna aplikacija</h1>
    <p>Ova aplikacija je namenjena za testiranje, kontejnerizaciju aplikacija i upravljanje kontejenrima pomoću alata za instrumentizaciju.</p>
    <p>Na sledećoj strani imate korisne linkove vezane za ove alate <a href="https://localhost:32768/Home/Privacy">sledeća strana</a>.</p>
</div>
