@{
    ViewData["Title"] = "Druga strana";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Na ovoj strani možete pronaći linkove, koji govore više o alatima za orkestraciju kontejnera.</h1>
    <p>Link za Docker Swarm <a href="https://dockerswarm.rocks/">ovde</a>.</p>
    <img src="~/Images/3.png" alt="Docker Swarm">


    <p>Link za Kubernetes <a href="https://kubernetes.io/">ovde</a>.</p>
    <img src="~/Images/2.jpg" alt="Kubernetes">


    <p>Link za Openshift <a href="https://docs.openshift.com/">ovde</a>.</p>
    <img src="~/Images/1.jpg" alt="Openshift">


</div>
